body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 2%;
    padding-right: 2%;
}

/* tags and lists */
a:link, a:visited, a:hover, a:active {
    color: white;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}

ul, ol, li {
    padding: 0;
    margin: 0;

    /* adding some space between list items */
    margin-bottom: 1%;
}

/* images */
img {
    max-width: 40%;
    height: auto;
}

@media (max-width: 814px) {
    img {
        max-width: 100%;
    }
}