.header {
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.header__content {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-bottom: 1px solid #efefef;
    position: relative;
}

/* -------------------------------------------------------------------
 * ## header-logo 
 * ------------------------------------------------------------------- */
.header__logotext {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Georgia, serif;
    font-weight: 400;
    font-size: 7.2rem;
    line-height: 1;
    letter-spacing: -.45rem;
}

.header__tagline {
    font-family: "Open Sans", sanserif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
    color: #c3c3c3;
    position: relative;
    top: .8rem;
    left: .8rem;
}

/* -------------------------------------------------------------------
 * ## main navigation 
 * ------------------------------------------------------------------- */
.header__nav-wrap, .header__nav {
    margin: 0;
    padding: 0;
}

/* nav-wrap */
.header__nav-wrap {
    z-index: 1;
    width: 100%;
    font-family: "Open Sans", sanserif;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: absolute;
    top: .6rem;
    left: 0;
}

.header__nav {
    list-style: none;
    min-height: 6rem;
    width: auto;
    margin-left: 20px;
    position: relative;
}

.header__nav li {
    display: inline-block;
    height: 6rem;
    margin: 0;
    padding-top: 1.2rem;
    padding-left: 0;
    position: relative;
}

.header__nav li {
    padding-right: 2.6rem;
    position: relative;
}

.header__nav>li {
    float: left;
}

/* sub menu */
.header__nav ul {
    min-width: 100%;
    margin: 0;
    padding: 1.2rem 0;
    background: #F4F3F3;
    border: 1px solid #EAE8E8;
    border-top: none;
    border-radius: 0 0 3px 3px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease .1s;
    transition: all .25s ease .1s;
    position: absolute;
    top: calc(100% + 2px);
    left: 0px;
}

.header__nav ul li {
    padding: 0;
    display: block;
    text-align: left;
    -webkit-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
    height: 0;
    overflow: hidden;
}

.header__nav ul li {
    padding: 0 2rem;
    margin: 0;
    white-space: nowrap;
    font-size: 13px;
    font-family: "Open Sans", sanserif;
    font-weight: 400;
    line-height: 4rem;
    text-transform: none;
    letter-spacing: 0;
}

/* on hover */
.header__nav li:hover>ul {
    opacity: 1;
    visibility: visible;
}

.header__nav li:hover>ul li {
    height: 4rem;
    overflow: visible;
}

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle 
 * ------------------------------------------------------------------- */
.header-menu-toggle {
    z-index: 101;
    display: none;
    background-color: #9fcc7f;
    height: 4.8rem;
    width: 5.2rem;
    line-height: 4.8rem;
    font-family: "Open Sans", sanserif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #9fcc7f;
    outline: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    right: 3.2rem;
    top: .6rem;
}

.header-menu-toggle:hover, .header-menu-toggle:focus {
    color: #ffffff;
}

.header-menu-toggle span {
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    left: 1.6rem;
    right: auto;
    bottom: auto;
}

.header-menu-toggle span::before, .header-menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: absolute;
    left: 0;
}

.header-menu-toggle span::before {
    top: -.7rem;
}

.header-menu-toggle span::after {
    bottom: -.7rem;
}

.header-menu-toggle.iclicked span {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all .1s;
    transition: all .1s;
}

.header-menu-toggle.iclicked span::before, .header-menu-toggle.iclicked span::after {
    background-color: white;
}

.header-menu-toggle.iclicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.header-menu-toggle.iclicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */
@media screen and (max-width:1200px) {
    .header__logotext {
        font-size: 7rem;
    }
    .header__tagline {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:1000px) {
    .header__logotext {
        font-size: 6.8rem;
    }
}

@media screen and (max-width:800px) {
    .header__content {
        padding-top: 9.6rem;
        padding-bottom: 12rem;
        min-height: 0;
        background-size: 310px 220px;
    }
    .header-menu-toggle {
        display: block;
    }
    .header__nav-wrap {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-top: 8rem;
        font-weight: 600;
        font-size: 1.8rem;
        text-transform: none;
        letter-spacing: 0;
    }
    .header__nav-wrap>.row {
        width: 100%;
    }
    .header__nav {
        min-height: 0;
        width: 100%;
        margin: 6rem 6rem 8rem;
    }
    .header__nav>li {
        float: none;
        display: block;
        height: auto;
        padding-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .header__nav>li:first-child {
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }
    .header__nav ul {
        opacity: 1;
        visibility: visible;
        display: none;
        padding-top: 0;
        -webkit-transition: none;
        transition: none;
        background: transparent;
        border: none;
        position: static;
    }
    .header__nav ul li {
        height: auto;
        overflow: auto;
    }
    body.menu-iopen {
        overflow: hidden;
    }
    .menu-iopen .header__nav-wrap {
        -webkit-transition: all .3s;
        transition: all .3s;
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width:600px) {
    .header__content {
        background-position: center top;
        text-align: center;
    }
    .header__logotext {
        font-size: 6.4rem;
    }
    .header__nav-wrap>.row {
        padding: 0;
    }
}

@media screen and (max-width:400px) {
    .header__logotext {
        font-size: 6rem;
    }
    .header__nav {
        margin: 6rem 4rem 4.8rem;
    }
}

/* ------------------------------------------------------------------- 
 * ## main navigation on large screens
 * ------------------------------------------------------------------- */
@media only screen and (min-width:801px) {
    .header__nav li.has-children:hover>a::after, 
    .header__nav li.has-children:focus>a::after {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    .header__nav ul {
        display: block !important;
    }
}