.flex {
    display: flex;
    align-items: flex-start;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.asciiContainer {
    position: absolute;
    top: 0;
    left: 0;
}

.ascii {
}

.fullArt {
    display: block;
    margin: 0;
}

.mobileArt {
    display: none;
    margin: 0;
}

@media screen and (max-width: 814px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }

    .ascii {
        font-size: 1.2vw;
        line-height: 1.3;
    }

    .asciiContainer {
        position: relative;
    }

    .fullArt {
        display: none;
    }

    .mobileArt {
        display: block;
    }
}
